body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  background-color: lightgrey;
  width: auto;
}

/* .tagging {
  width: 300px;
  float: left;
}

.discovery {
  width: 500px;
  float: left;
} */