body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  background-color: lightgrey;
  width: auto;
}

main {
  overflow: auto;
}

.tagging {
  float: left;
  width: 15%;
  margin: 0px 10px 0px;
}

.discovery {
  float: left;
  width: 80%;
  margin: 0px 10px 0px;

}

.taglist {
  float: left
}

.tagmap {
  float: left;
}


footer {
  clear: both;
}